<div class="container">
    <h3>Update Branch</h3>

    <form [formGroup]="editBranchForm" (ngSubmit)="editBranch()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" 
            class="form-control" 
            id="name" 
            aria-describedby="name" 
            name="name"
            formControlName="name"
            [(ngModel)]="selectedBranch.name">
            
            <span *ngIf="name?.invalid && name?.touched" style="color: red;">Please Enter valid the User Name</span>
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
            class="form-control" 
            id="email" 
            aria-describedby="email" 
            name="email"
            formControlName="email"
            [(ngModel)]="selectedBranch.email">
            
            <span *ngIf="email?.invalid && email?.touched" style="color: red;">Please Enter valid the email
                address</span>
        </div>
        <div class="form-group">
            <label for="phoneNumber">phoneNumber</label>
            <input type="phoneNumber" 
            class="form-control" 
            id="phoneNumber" 
            name="phoneNumber" 
            formControlName="phoneNumber"
            [(ngModel)]="selectedBranch.phoneNumber">
            
            <span *ngIf="phoneNumber?.invalid && phoneNumber?.touched" style="color: red;">Please Enter valid the
                phoneNumber</span>
        </div>
       
        <button type="submit" class="btn btn-primary" [disabled]="!editBranchForm.valid">Update Branch</button>
    </form>
</div>
