<div class="container">
    <h3>Update Branch Manager</h3>

    <form [formGroup]="editBranchManagerForm" (ngSubmit)="editBranchManager()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" aria-describedby="name" name="name" formControlName="name"
                [(ngModel)]="selectedBranchManager.name">

            <span *ngIf="name?.invalid && name?.touched" style="color: red;">Please Enter valid the User Name</span>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" name="email"
                formControlName="email" [(ngModel)]="selectedBranchManager.email">

            <span *ngIf="email?.invalid && email?.touched" style="color: red;">Please Enter valid the email
                address</span>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password"
                [(ngModel)]="selectedBranchManager.password">

            <span *ngIf="password?.invalid && password?.touched" style="color: red;">Please Enter valid the
                Password</span>
        </div>

        
        <button type="submit" class="btn btn-primary"
        [disabled]="!editBranchManagerForm.valid"
        >Update Branch Manager</button>
    </form>
</div>