<div class="container">
    <h3>Menu Details</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Menu Id</th>
                <th scope="col"> Branch Manager Id</th>
                <th scope="col">Branch Manager Name</th>
                <th scope="col">Branch Id </th>
                <th scope="col">Branch Name</th>
                <th scope="col">Admin Id</th>
                <th scope="col">Admin Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let menu of menues.t ">
                <td>{{menu.menuId}}</td>
                <td>{{menu.branchManager.branchManagerId}}</td>
                <td>{{menu.branchManager.name}}</td>
                <td>{{menu.branchManager.branch.branchId}}</td>
                <td>{{menu.branchManager.branch.name}}</td>
                <td>{{menu.branchManager.branch.admin.adminId}}</td>
                <td>{{menu.branchManager.branch.admin.name}}</td>
                <td><button class="btn btn-warning" type="button" [disabled]="branchManagerId!=menu.branchManager.branchManagerId"
                        [routerLink]="['/edit-menu',menu.menuId]">Edit</button></td>
                <td><button class="btn btn-danger" type="button" (click)="deleteMenu(menu.menuId)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>