<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home"> Food App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Branch Service</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="add-branch" href="#">Add Branch</a>
              <a class="dropdown-item" routerLink="branch-details">Branch Details</a>
            </div>
        </li>

        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Menu Service</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="add-menu" href="#">Add Menu</a>
              <a class="dropdown-item" routerLink="menu-details">Menu Details</a>
            </div>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Item Service</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="add-item" href="#">Add Item</a>
              <a class="dropdown-item" routerLink="item-details">Item Details</a>
            </div>
        </li>

        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Order Service</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="add-order" href="#">Add Order</a>
              <a class="dropdown-item" routerLink="order-details">Order Details</a>
            </div>
        </li>
        
       
       
        
         

      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Admin Services</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="addUser" href="#">Add Admin</a>
              <a class="dropdown-item" routerLink="admin-details" href="#">Admin Details</a>
            </div>
        </li>

       
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Manager Service</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="addUser" href="#">Add Manager</a>
              <a class="dropdown-item" routerLink="branchManager-details">Branch Manager Details</a>
            </div>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Staff Service</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="addUser" href="#">Add Staff</a>
              <a class="dropdown-item" routerLink="staff-details">Staff Details</a>
            </div>
        </li>

       
       
        <li  class="nav-item" *ngIf='!isLoggedIn' >
          <a class="nav-link" routerLink="/login"  >Login</a>
        </li>
          <li  class="nav-item" *ngIf='isLoggedIn' >
            <a class="nav-link" routerLink="/login" (click)='logout()' >Logout</a>
          </li>
      </ul>
    </div>
  </nav>